.darkTheme {
    background: #050044;
    color: #c52926
}

.header {
    padding-bottom: 10px;
    height: 90px;
    padding-top: 20px;
}

.userInfo {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 1100px;
}

.userInfo div img {
    width: 50px;
    height: 50px;
}

.userInfo div {
    display: inline-block;
}

.name{
    display: inline-block;
}