.genreItem {
    display: inline-block;
    margin-left: 13px;
}

.genreItem:hover {
    display: inline-block;
    margin-left: 13px;
    cursor: pointer;
}

.genreList {
    padding-top: 10px;
}

.darkTheme{
    color: #c52926
}

.activeGenre {
    color: gold;
}