.selectedPage {
    font-weight: bold;
}

.pageNumber {
    padding: 2px;
    margin: 2px;
    border: 1px solid black;
}

.pageNumber:hover {
   cursor: pointer;
}

.pages {
    display: inline-block;
}

.paginator {
    margin: 12px 0;
}

.paginator button:active, .paginator button:focus {
    outline: none;
}

.paginator button {
    color: white;
    background-color: black;
    border-radius: 50px;
}

.darkTheme {
    color: red;
    border: 1px solid #760a0e ;
}

.darkAndSelected {
    color: goldenrod;
    border: 1px solid goldenrod;
}
